$purple: #5F2F8B;

.notfound-main{
    .notfound-main__wrapper{
        .heading-container{
            .heading-title{
                padding: .5em;
            }
        }
        .notfound-img{
            .img-container{
                display: flex;
                justify-content: center;
                img{
                    width: 35%;
                }
            }
        }
    }
}



