@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$button-font: normal normal 0.9rem/1.5rem 'Poppins', sans-serif;
$dark-purple: #5F2F8B;
$middle-purple: #804AB0;
$light-purple: #9D70C6;
$warm-black: #201E1C;
$warm-black2: #282623;
$dark-gray: #433F3F;
$gray2: #5A5555;
$light-gray: #BAB6B6;
$gray: #E5E5E5;


.button-center{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.button.chakra-button{
    text-decoration: none;
    //font: $button-font;
    background: transparent;
    transition: background-color .3s;
    color: $middle-purple;
    
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 6px;
    margin: 0.5em 0;
    padding: 0.4em 0.3em; 
    
}

.button.chakra-button:hover{
    background-color: $light-purple;
    border-color: $gray;
    color: $gray;
}

.icon-button.chakra-button{
    background: transparent;
    transition: background-color .3s;
    color: $dark-gray;
    padding: .5em;
    margin: 0;
}
.icon-button.chakra-button:hover{
    background-color: $light-purple;
    color: $gray;
}

.select{
    text-decoration: none;
    font: $button-font;
    color: white;
    border: 2px solid $middle-purple;
    border-radius: 4px;
    margin: 0.8em 0;
}