/** font-family:  **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$heading1: normal bold 2rem/2.4rem 'Poppins', sans-serif;
$heading2: normal bold 1.5rem/1.8rem 'Poppins', sans-serif;
$heading3: normal bold 1.3rem/1.4rem 'Poppins', sans-serif;
$body1: normal normal 0.8rem/1.6rem 'Poppins', sans-serif;
$form: normal normal 0.8rem/1.6rem 'Poppins', sans-serif;
$error-font: normal bold 1.8rem/2.2rem 'Poppins', sans-serif;
$nav-font: normal normal 0.8rem/1.3rem 'Poppins', sans-serif;

$dark-purple: #5F2F8B;
$middle-purple: #804AB0;
$light-purple: #9D70C6;
$gray: #E5E5E5;

.heading1{
    font: $heading1;
}
.heading2{
    font: $heading2;
}
.heading3{
    font: heading3;
}
.body1{
    font: $body1;
}
.form-font{
    font: $form;
}
.error-font{
    font: $error-font;
}
.nav-font{
    font: $nav-font;
}
.title{
    padding: 1em 0;
    text-align: center;
    color: $middle-purple;
}
input.chakra-input{
    font: $form;
}

select.chakra-select{
    font: $form;
}