$purple: #5F2F8B;
$gray: #E5E5E5;

.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    .card{
        text-decoration: none;
        width: 100%;
        max-width: 300px;
        height: 10em;
        margin: 1em;
        padding: 1em;
        border: 2px solid $purple;
        border-radius:  4px;     
        display: flex;
        align-items: center;
        justify-content: center;       
        .text{
            color: $purple;
        }
    }
    .card:hover{
        //background: $purple;
        
        background: rgb(229,229,229);
        background: linear-gradient(180deg, rgba(229,229,229,1) 0%, rgba(181,152,208,1) 21%, rgba(95,47,139,1) 100%);
        
        /* background: rgb(229,229,229);
        background: radial-gradient(circle, rgba(229,229,229,1) 0%, rgba(181,152,208,1) 21%, rgba(95,47,139,1) 100%);
 */
        .text{
            color: $gray;
        }
    }
}

@media (min-width: 1000px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        //grid-column-gap: 1em;
        
    }
}