.search-bar{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .search-bar__select{
        width: 30%;
    }
    .search-bar__input{
        width: 40%;
    }
}