@import 'fonts';

$purple: #5F2F8B;
$middle-purple: #865E94;
$light-purple: #B98DC9;
$gray: #C4C4C4;

.exercise-container{
    padding: 0.5em;
    border: 2px solid $purple;
    border-radius: 6px;
    width: 100%;
    //background-color: $middle-purple;
    .control-container{
        padding: 0.5em;
        .exercise-name{
            text-align: center;
            color: $purple;
            margin: 0;
            padding: 1em 0;
           
        }
        .category{
            color: $purple;
            margin: 0;
            padding: 1em 0;

        }
        .button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
     .video-container{
       padding: 0.5em;
    } 
}

@media (min-width: 1000px){
    .exercise-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .video-container{
        height: 18em;
        width: 24em;
        .aspect-ratio{
            display: flex;
        }
    }
}

