$purple: #5F2F8B;
.title{
    color: $purple;
    text-align: center;
}
.add-container{
    .add-button{
        border-radius: 20px;
        width: 10em;
        height: 5em;
        .plus{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}