$purple: #5F2F8B;
.user-card{
    margin: 1em auto;
    padding: 1em;

    border: 2px solid $purple;
    border-radius: 4px;
    width: 90%;
    
    .card-title{
        color: $purple;
        text-align: center;
    }
    .card-text{
        color: $purple;
    }
}