$dark-purple: #5F2F8B;
$middle-purple: #804AB0;
$light-purple: #9D70C6;
$gray: #E5E5E5;

.exercises-main{
    .exercises-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1em;
        .heading-container{
            display: grid;
            grid-template-columns: repeat(12,1fr);
            align-items: center;
            .back-link{
                grid-column: 1/2;
                justify-self: start;
                text-decoration: none;
                
            }
            .heading-title{
                grid-column: 3/11;
            } 
        }
        .bottom-links{
            display: flex;
            justify-content: center;
            padding: 1em 0;
            .link{
                padding: 0.5em;
            }
        }
    }
}


