$dark-purple: #5F2F8B;
$middle-purple: #804AB0;
$light-purple: #9D70C6;
$warm-black: #201E1C;
$warm-black2: #282623;
$dark-gray: #433F3F;
$gray2: #5A5555;
$light-gray: #BAB6B6;
$gray: #E5E5E5;


.user-data{
    p{
        font: normal normal 18px/20px 'Poppins', sans-serif;
        color: $gray2;
        padding: .3em 0;
    }
    .email{
        font-weight: 500;
    }
}